<div id="footer">
    <div id="FooterContent">
        <div id="UseFullCon">
            <div id="FooterTitle">Usefull Links</div>	
                <a href="#"><div id="Links">=  About us</div></a>
                <a href="#"><div id="Links">=  Delivery Info</div></a>
                <a href="#"><div id="Links">=  Another links</div></a>
            </div>
        
        <div id="ContactInfoCon">
            <div id="FooterTitle">Contact Info</div>
                <div id="ContactInfo">Sample_@sample.com</div>
                <div id="ContactInfo">Contact us: 0927-352-XXX</div>
                <div id="ContactInfo">National Hi-way, Sample Address</div>
        </div>	
        <div id="NewsLetterCon">
            <div id="FooterTitle">News Letter</div>	
            <div id="NewsEmail"><input type="text" placeholder="Enter Email Here!" id="emailnew"></div>
            <div id="NewsContent"><textarea id="textarea" class="form-control" rows="7" id="textarea" placeholder="Enter Message Here"></textarea></div>
            <div id="NewsBut"><input type="submit" id="SubBut"></div>
        </div>	
    </div>
</div>

