   
        <div id="TopContainer">
            <div id="TopLeft">
                    <div id="MenuCon"><a href="/"><div id="MenuName"><center>Home</center></div></a></div>
                    <div id="MenuCon"><a href="support.php"><div id="MenuName"><center>FAQ / Support</center></div></a></div>
                    <div id="MenuCon"><a href="shippinginfo.php"><div id="MenuName"><center>Shipping Info</center></div></a></div>
                    <div id="MenuCon"><a href="about.php"><div id="MenuName"><center>About Us</center></div></a></div>
                    
            </div>
            <div id="TopRight">
                <div id="CheckoutButton"><center>
                    <%= locals.userEmail %></center></div>
                <div id="CartInfo"><center>Your Cart 3 Items ( P200.00 in Total )</center></div>
            </div>
        </div>